#texts {
  border: 2px solid;
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 10px;
  margin: 5px;
  width: 70vw;
  height: 92vh;
  overflow: auto;
}

#selection {
  position: static;
  padding: 10px;
  left: 10px;
  top: 10px;
  margin: 5px;
  width: 25vw;
}

#info {
  position: static;
  padding: 10px;
  margin: 5px;
  left: 10px;
  width: 25vw;
  overflow: auto;
}

.prompt {
  margin-top: 2.5px;
  margin-bottom: 1px;
}

#cluster-submit {
  margin-top: 2.5px;
}

.highlight {
  background-color: yellow;
}

mark{
    background: orange;
    color: black;
}
