<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="socket.js"></script>
  </head>

  <body>
    {% block cluster %}
    <p>Please enter the cluster you'd like to analyze.</p>
    <form action="/cluster" method="post" id="cluster">
      Cluster index: <input type="text" class="cluster"/>
      <input type="submit" value="Submit"/>
    </form>
    {% endblock %}

    {% block buttons %}
    {% endblock %}

    {% block summaries %}
    {% endblock %}

    {% block articles %}
    {% endblock %}

  <body>
</html>
