<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/styles.css?u={{ last_updated }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/mark.min.js" charset="UTF-8"></script>
    <script type='text/javascript' charset='utf-8'>
      const colors = ['#FFFFO0','#FF0000','#FF7F00','00FF00',
        '#00FFFF','#7FFF00','#FF7F50','#FF1493','#7FFFD4','#00BFFF','#FF00FF',
        '#ADFF2F','#FF69B4','#E0FFFF','#E6E6FA','#FFA07A','#FFA500','#DA70D6','#FF6347']

      function highlight(keyword, i) {
        var article = document.querySelector("#article-text");
        var summary = document.querySelector("#summary-text");
        var ainstance = new Mark(article);
        var sinstance = new Mark(summary);

        console.log(keyword);
        ainstance.mark(keyword, {
          className: 'frag'+i,
          separateWordSearch:false,
          accuracy:'partially'
        });
        sinstance.mark(keyword, {
          className: 'frag'+i,
          separateWordSearch:false,
          accuracy:'partially',
        });
        var elements = document.querySelectorAll('.frag'+i);
        console.log(elements)
        for (let x=0; x<elements.length; x++) {
          elements[x].style.backgroundColor = colors[i]
        }
      }
    </script>
  </head>

  <body>
    <div id="selection">
      {% block cluster %}
      <div id="cluster-select">
        <p class="prompt">Please enter the cluster you'd like to analyze.</p>
        <form id="cluster" action="/search" method="POST">
          {% block cluster_input %}
          Cluster index: <input type="number" min='0' max='12986' name="cluster" id="cluster-id"/>
          {% endblock %}
          <input type="submit" value="Submit" id="cluster-submit"/>
        </form>
        <form id="rand-cluster" action="/random" method="POST">
          <input type="submit" value="Generate random cluster!" id="random-cluster"/>
        </form>
      </div>
      {% endblock %}

      {% block buttons %}
      {% endblock %}
    </div>

    {% block texts %}
    {% endblock %}

    {% block info %}
    {% endblock %}
  <body>
</html>
