<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css?u={{ last_updated }}">
    {% block script %}
    {% endblock %}
  </head>

  <body>
    <div id="selection">
      {% block message %}
      {% if message %}
        {{message}}
      {% endif %}
      {% endblock %}
      {% block cluster %}
      <div id="cluster-select">
        <p class="prompt">Please enter the cluster you'd like to analyze.</p>
        <form id="cluster" action="/search" method="POST">
          {% block cluster_input %}
          Cluster index: <input type="number" min='0' max='13487' name="cluster" id="cluster-id"/>
          {% endblock %}
          <input type="submit" value="Submit" id="cluster-submit"/>
        </form>
        <form id="rand-cluster" action="/random" method="POST">
          <input type="submit" value="Generate random cluster!" id="random-cluster"/>
        </form>
      </div>
      {% endblock %}

      {% block buttons %}
      {% endblock %}
    </div>

    {% block texts %}
    {% endblock %}

    {% block info %}
    {% endblock %}
  <body>
</html>
