{% extends "base.html" %}
{% block script %}
<script type='text/javascript'>

  function htmlToElement(html) {
    var template = document.createElement('template');
    html = html.trim(); // Never return a text node of whitespace as the result
    template.innerHTML = html;
    return template.content.firstChild;
  }

  function show_article() {
    document.querySelector('#article-text').innerHTML = '{{article_text | safe}}'
  }

  function show_summary() {
    document.querySelector('#summary-text').innerHTML = '{{summary_text | safe}}'
  }

</script>
{% endblock %}
{% block cluster_input %}
Cluster index: <input type="text" name="cluster" value={{val}} />
{% endblock %}
{% block buttons %}
<div id= "buttons">
  <form id="article-form" action="/article-select" method="POST">
    <p class="prompt">Select the article you wish to display.</p>
    <select name="article-select" id="article-select">
      {% for s in range(article_list|length) %}
        {% if s == article%}
          {% if article_list[s][3] in valid_article_list%}
            <option selected="selected" value= {{s}}>{{s}}</option>
          {% else %}
            {% set article = article + 1 %}
          {% endif %}
        {% elif article_list[s][3] in valid_article_list%}
          <option value= {{s}}>{{s}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="hidden" name="cid" value="{{val}}"/>
    <input type="submit" value="Submit"/><br>
    </form>
    {% if valid_summary_list %}
    <form id="summary-form" action="/summary-select" method="POST">
    <p class="prompt">Select the summary you wish to display.</p>
    <select name="summary-select" id="summary-select">
      {% for s in range(article_list|length) %}
        {% if s == summary %}
          {% if article_list[s][3] in valid_summary_list%}
            <option selected="selected" value= {{s}}>{{s}}</option>
          {% else %}
            {% set summary = summary + 1 %}
          {% endif %}
        {% elif article_list[s][3] in valid_summary_list %}
          <option value= {{s}}>{{s}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="hidden" name="article-select" value="{{article}}"/>
    <input type="hidden" name="cid" value="{{val}}"/>
    <input type="submit" value="Submit"/>
    </form>
    {% endif %}
</div>
{% endblock %}

  {% block texts %}
  <div id="texts">
    <div id="summary">
      <h3>Summary:</h3>
      <div class="text" id="summary-text">
        <script type='text/javascript'>show_summary()</script>
      </div>
    </div>

    <div id="article">
      <h3>Article:</h3>
      <div class="text" id="article-text">
        <script type='text/javascript'>show_article()</script>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block info %}
  <div id="info">
    <form id="cdplot" action="/cdplot" target="_blank" method="POST">
      <input type="hidden" name="cid" value="{{val}}"/>
      <input type="submit" value="Create Coverage-Density plot" name="cd-button"/>
    </form>
    <form id="complot" action="/complot" target="_blank" method="POST">
      <input type="hidden" name="cid" value="{{val}}"/>
      <input type="submit" value="Create Compression plot" name="com-button"/>
    </form>
    <br>
    {% if summary or (summary == 0) %}
    <strong>Information for summary {{summary}}, article {{article}}:</strong>
    <p id="density">Density: {{density}}</p>
    <p id="coverage">Coverage: {{coverage}}</p>
    <p id="compression">Compression: {{compression}}</p>
    <div id="fragments">Fragments:
      {% for fragment in fragments %}
        {{fragment | safe}}
      {% endfor %}
    </div>
    {% endif %}
    <form id="removeCluster" action="{{url_for('confirm',cluster_id=val)}}" target="_blank" method="POST">
      <input type="hidden" name="cid" value="{{val}}"/>
      <input type="submit" value="Remove Cluster" name="clusterRemove"/>
    </form>
  </div>
  {% endblock %}
