{% extends "base.html" %}
{% block cluster_input %}
Cluster index: <input type="text" name="cluster" value={{val}} />
{% endblock %}
{% block buttons %}
<div id= "buttons">
  <form id="select-form">
    <p class="prompt">Select the summary you wish to display.</p>
    <select id="summary-select">
      {% for s in range(cluster|length) %}
        <option value= {{s}}>{{s}}</option>
      {% endfor %}
    </select>

    <p class="prompt">Select the article you wish to display.</p>
    <select id="article-select">
      {% for s in range(cluster|length) %}
        <option value= {{s}}>{{s}}</option>
      {% endfor %}
    </select><br>
    <input type="submit" value="Submit"/>
  </form>
</div>
{% endblock %}

  {% block texts %}
  <div id="texts">
    <div id="summary">
      <h3>Summary:</h3>
      <p id="summary-text">No summary selected.</p>
    </div>

    <div id="article">
      <h3>Article:</h3>
      <p id="article-text">No article selected.</p>
    </div>
  </div>
  {% endblock %}

  {% block info %}
  <div id="info">
    <strong>Information:</strong>
    <p id="density">No summmary or article selected.</p>
    <p id="coverage"></p>
    <p id="compression"></p>
    <!--
    <input type="submit" value="Create Coverage-Density plot" id="cd-button"/>
    <br>
    <input type="submit" value="Create Compression plot" id="com-button"/>
    -->
  </div>
  {% endblock %}
